#Left {
	margin-top: -30px;
}
#Left  table{
    margin: 20px;
}

#Left table img{
    width: 30px;
    height: auto;
    float: left;
    margin-left: 50px;
}
#Left table #topimg {
    width: 50px;
    float: left;
    margin-bottom: 20px;
}
#Left table td{
    padding: 5px 0;
    font-weight: bold;
}
#Left table td a{
    text-decoration: none;
    color: black;
}
#Left table td a:hover{
    color:#FF2C21 ;
}
#Left table td a:checked{
    color:#FF2C21 ;
}
#Left table td span {
    color: #BFCDE3;
    font-weight: bold;
}
#toptext{
    font-weight: bold;
    font-size: 20px;
}