div.trangchu{width:749px; height:30px; font-weight:bold; background:#006666; color:#FFFFFF; font-size:20px;}
div.body{font-size:20px; padding-left:10px;  color:#000000; font-family: "Times New Roman";}
img.image{width:10px; height:10px; padding-left:10px;}
a.link{font-weight:bold; text-decoration:none; color:#000000;}