@charset "utf-8";
/* CSS Document */

/* visited link */
a:visited {
    color: #560777;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
}

a {
    color: #fff;
}

body,
button,
input {
    font: 13px Arial, Helvetica, sans-serif;
}
#cla{
    font-size: 18px;
}
#send {
    margin-top: 16px;
}
#colors {
    text-align: center;
    background-color: #00cc33;
    color: #fff;
    border: 2px solid #00cc33;
    border-radius: 5px;
}


.link {
    font: 18px Arial;
    text-decoration: none;
    padding-left: 20px;
    font-weight: bold;
}
ol li {
    padding-bottom: 10px;
}

.chat-messages {
    width: 100%;
    height: 450px;
    overflow-y: scroll;
    padding: 10px;
    max-height: 450px;
}

.chat-message {
    padding: 5px;
    font-size: 20px;
    color: #0000FF;
    font-weight: bold;
}
.list-room{
    background-color: #d7ffef;
    width: 100%;
    height: 450px;
    overflow-y: scroll;
    padding: 10px;
    max-height: 450px;
    border: 2px solid #d7ffef;
    border-radius: 5px;
}

.chat-status {
    padding: 5px;
    color: #00FF00;
    border-radius: 5px;
}

.chat-input,
.chat-name {
    outline: none;
}

#right{
    text-align:right;
    margin-top:15px;
    margin-bottom:15px;
    color:#FF0000;
    font-size: 20px;
}
#left{
    text-align:left;
    color:#0000FF;
    margin-top:15px;
    margin-bottom:15px;
    font-size: 20px;
}



.customview_r,
.customview_l
{
    display:none;
}
#c_message_l,
#c_message_r{
    font-size:16px;
    padding:5px;
}

#c_name_l{
    color:#000000;
    font-weight:bold;
}

#c_time_l,
#c_time_r{
    padding-left:100px;
    color:#CCCCCC;
    font-size:10px;
    font-style:italic;
}

#right{
    text-align:right;
    margin-top:15px;
    margin-bottom:15px;
    margin-right:15px;
    color:#FF0000;
}
#left{
    text-align:left;
    color:#0000FF;
    margin-top:15px;
    margin-bottom:15px;
}
#title1{
    font-size:18px;
    font-weight:bold;
    float:right;
    width:150px;
}
#time1{
    font-size:10px;
    color:#123;
    padding-left:5px;
    font-style: italic;
}
#divtitle{
    width:210px;
}
#mg{
    color:#000000;
    margin-left:80px;
    margin-bottom:10px;
    margin-top:5px;
}
#time2{
    font-size:10px;
    color:#123;
    padding-right:5px;
    font-style: italic;
}
#image1{
    width:50px;
    height:50px;
    float:left;
    background-image:url(../img/anhdaidien.png);
}
.logout{
    text-align:right;
    float:right;
    color:#FFFFFF;
    font-weight:bold;
}