/*STYLE FIND JOB*/
.find-job {
    font-size: 18px !important;
}

.find-job .btn-post{
    position: absolute;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    right: 32px;
    top: 64px;
    min-height: 49px;
}

.find-job .ta-post{
    -webkit-box-shadow: -1px 0px 9px 0px rgba(51,48,51,0.54);
    -moz-box-shadow: -1px 0px 9px 0px rgba(51,48,51,0.54);
    box-shadow: -1px 0px 9px 0px rgba(51,48,51,0.54);
}

.find-job img{
    width: 80px;
    height: 80px;
    padding:2px;
}
.find-job .panel-body {
    padding-bottom: 0px !important;
}
.find-job .media{
    padding:5px;
    border-radius: 3px;
    background: #fcfcfd;
    border: 1px solid #eae8e8 ;
}
.find-job .date-post{
    font-size: 13px;
    color: #a8b1d6;
}
.find-job .index-content{
    color: #4a4848;
    font-size: 15px;
}

.find-job .pagination>li>a, .pagination>li>span{
    border: none !important;
}

.find-job .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background: none !important;
    color:#337ab7 !important;
}
    
.find-job .media {
    display:none;
    padding: 10px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    margin-bottom: 5px;
    background-color: #f1f1f1;
}
.find-job #loadMore{
    border-radius: 0px !important;
    height: 30px;
    width: 100px;
    padding:0px !important;
    cursor:pointer;
}
@media (max-width:320px) {
    /* For mobile phones: */
 .find-job .btn-post{
     position: absolute;
    top: 89px;
 }

 .find-job .media-heading{
    font-size: 12px;
 }
 .find-job .index-content{
     font-size: 12px;
 }
 .find-job .date-post{
    font-size: 10px;
 }
}



/*END FIND JOB*/

/*STYLE STUDENT HOME PAGE*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: arial ;
    font-size: 15px;
}
.wrapper{
    width:900px;
    height: auto;
    margin:0 auto;
    margin-top: 20px;
}
.wrapper h1{
    padding: 30px 20px;
}
.pagewrapper{
    width: 900px;
    height: auto;
    margin: 0px auto;

}
.pagewrapper .top{
    width: 898px;
    height: auto;
    float: left;
    background: #FF2C21;
    font-size: 20px;
    color: white;
    position: fixed;
    margin-bottom: 100px;
    z-index: 0;
}
.top span {
    float: left;
    font-weight: normal;
    padding: 15px 2.56%;
}
.top>div{
    float: right;
    background-image: url("img/exit.png");
    background-repeat: no-repeat;
    background-position:left;
    width: 90px;
    height: auto;
    padding: 15px 2.56%;
}
.top>div a{
    text-decoration: none;
    color: white;
    float: right;

}
.top>div a:hover{
    color:black
}
.pagewrapper .content{
    width: 900px;
    float: left;
    height: auto;
    border: 1px solid #BFBFBF;
}
.content p{
    padding: 20px 40px;
    font-size: 25px;

}
.content form {
    width: 900px;
    padding: 15px 20%;
    height: auto;
}
.content form img{
    width:6750px !important;
    height: auto;
}
.content form td{
    font-size:25px;
    font-weight:bold;
}
.content form input{
    width: 900px;
    height: auto;
    padding: 0 20px;
    font-size: 25px;

}
.submit{
    text-align: center;
    margin:50px 0;
    height: 150px;
    cursor: pointer;
}
#sb{
    border: 0;
    width: 4770px;
    height: auto;
    padding: 8px 10px;
    background-color: black;
    color: white;
    font-weight:bold;
}
#sb:hover{
    background: #FF2C21;

}
.content1{
    width: 898px;
    height: auto;
    float: left;
    /*border: 1px solid #BFBFBF;*/
    z-index: -1;
}
.content1 table{
    margin: 20px;
    margin-top: 140px;
    position: fixed;
}

.content1 table img{
    width: 30px;
    height: auto;
    float: right;
    margin-right: 20px;
}
.content1 table #topimg {
    width: 50px;
    float: left;
    margin-bottom: 20px;
}
.content1 table td{
    padding: 5px 0;
    font-weight: bold;
}
.content1 table td a{
    text-decoration: none;
    color: black;
}
.content1 table td a:hover{
    color:#FF2C21 ;
}
.content1 table td span {
    color: #BFCDE3;
    font-weight: bold;
}
#toptext{
    font-weight: bold;
    font-size: 20px;
}
.content2{
    width: 99.9%;
    float: left;
    border: 1px solid #BFBFBF;
}
.content2 table{
    padding: 40px 40px;
}
.content2 img{
    width: 50%;
    float: right;
}
.content2 a {
    text-decoration: none;
    color: black;
}
.content2 a:hover{
    color: red;
}
.content2 td{
    padding: 10px 30px;
}
#top-ct2 td{
    padding: 10px 30px;
    padding-top: 0;
}
/* END STUDENT PAGE HOME */


