/*STYLE FIND JOB*/
.find-job {
    font-size: 18px !important;
}
.find-job .list-group-item
{
    border: none !important;
    border-bottom: 1px solid rgba(211, 224, 233, 0.25);
}
.find-job .pagination
{
    float: right;
    margin:7px 0 !important;
}
.find-job .pagination li a,
.find-job .pagination>li:first-child>a, .pagination>li:first-child>span
{
    border: none !important;
    color: #333 !important;

}
.find-job .panel-default>.panel-heading {
    background: #7ac1e8 !important;
    color: #fff;
}
.find-job .panel-default>.panel-heading {
    background-color: #2ecc71 !important;
    color:#fff;
}
.find-job .btn-link-post{
    margin: 0px;
    border-radius: 0px !important;
}
.find-job .list-group {
    margin: 26px 0 0 0;
    padding:5px;
    border: 1px solid #f7f2f2;
}
.find-job .glyphicon-triangle-right{
    color: #727273 !important;
    font-size: 12px !important;
}
.find-job .list-group-item a{
    font-size: 15px !important;
   /* font-weight:600;*/
    color: #4980a9;

}
.find-job .panel-default>.panel-body-2{
    margin-top: -50px;
}

.find-job .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    border-radius: 25px;
    color: #fff !important;
}

/*FIND JOB NEW */
.find-job .btn-post{
    margin-top: 3px;
    position: relative;
    top: -72px;
    height: 68px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.find-job .ta-post{
    -webkit-box-shadow: -1px 0px 9px 0px rgba(51,48,51,0.54);
-moz-box-shadow: -1px 0px 9px 0px rgba(51,48,51,0.54);
box-shadow: -1px 0px 9px 0px rgba(51,48,51,0.54);
}

.find-job img{
    width: 80px;
    padding:2px;
}

/*END FIND JOB*/

/*STYLE STUDENT HOME PAGE*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: arial ;
    font-size: 15px;
}
.wrapper{
    width:900px;
    height: auto;
    margin:0 auto;
    margin-top: 20px;
}
.wrapper h1{
    padding: 30px 20px;
}
.pagewrapper{
    width: 900px;
    height: auto;
    margin: 0px auto;

}
.pagewrapper .top{
    width: 898px;
    height: auto;
    float: left;
    background: #FF2C21;
    font-size: 20px;
    color: white;
    position: fixed;
    margin-bottom: 100px;
    z-index: 0;
}
.top span {
    float: left;
    font-weight: normal;
    padding: 15px 2.56%;
}
.top>div{
    float: right;
    background-image: url("img/exit.png");
    background-repeat: no-repeat;
    background-position:left;
    width: 90px;
    height: auto;
    padding: 15px 2.56%;
}
.top>div a{
    text-decoration: none;
    color: white;
    float: right;

}
.top>div a:hover{
    color:black
}
.pagewrapper .content{
    width: 900px;
    float: left;
    height: auto;
    border: 1px solid #BFBFBF;
}
.content p{
    padding: 20px 40px;
    font-size: 25px;

}
.content form {
    width: 900px;
    padding: 15px 20%;
    height: auto;
}
.content form img{
    width:6750px !important;
    height: auto;
}
.content form td{
    font-size:25px;
    font-weight:bold;
}
.content form input{
    width: 900px;
    height: auto;
    padding: 0 20px;
    font-size: 25px;

}
.submit{
    text-align: center;
    margin:50px 0;
    height: 150px;
    cursor: pointer;
}
#sb{
    border: 0;
    width: 4770px;
    height: auto;
    padding: 8px 10px;
    background-color: black;
    color: white;
    font-weight:bold;
}
#sb:hover{
    background: #FF2C21;

}
.content1{
    width: 898px;
    height: auto;
    float: left;
    /*border: 1px solid #BFBFBF;*/
    z-index: -1;
}
.content1 table{
    margin: 20px;
    margin-top: 140px;
    position: fixed;
}

.content1 table img{
    width: 30px;
    height: auto;
    float: right;
    margin-right: 20px;
}
.content1 table #topimg {
    width: 50px;
    float: left;
    margin-bottom: 20px;
}
.content1 table td{
    padding: 5px 0;
    font-weight: bold;
}
.content1 table td a{
    text-decoration: none;
    color: black;
}
.content1 table td a:hover{
    color:#FF2C21 ;
}
.content1 table td span {
    color: #BFCDE3;
    font-weight: bold;
}
#toptext{
    font-weight: bold;
    font-size: 20px;
}
.content2{
    width: 99.9%;
    float: left;
    border: 1px solid #BFBFBF;
}
.content2 table{
    padding: 40px 40px;
}
.content2 img{
    width: 50%;
    float: right;
}
.content2 a {
    text-decoration: none;
    color: black;
}
.content2 a:hover{
    color: red;
}
.content2 td{
    padding: 10px 30px;
}
#top-ct2 td{
    padding: 10px 30px;
    padding-top: 0;
}
/* END STUDENT PAGE HOME */


